* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
  Todas as configurações acima podem sofrer shorthand (agrupamento) em
  uma única linha, haja vista que a estrutura de background é:

  background: <color> <image> <position/size>
  */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  padding-top: 56px;
  width: 360px;
  margin: auto;
}

/* Não podemos aplicar "margin: auto" em elementos in-line por padrão (como imagens). Então,
para centralizarmos a foto de perfil, precisamos ir até a div pai e alinharmos o elemento no centro.
Essa ação é necessária porque elementos in-line só aceitam que seu pai defina sua posição na tela;
A única coisa que faremos com a imagem é definir sua largura (112px;).
 */
.profile {
  text-align: center;
  padding: 24px;
}

.profile img {
  width: 112px;
}

.profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* Estilizando Lista de Links com ênfase na div */
ul {
  list-style: none; /* Remove tópicos da lista */
  display: flex;
  flex-direction: column;
  gap: 16px; /* gap só funciona sob efeito de display: flex; */
}

/* Estilizando Lista de Links com ênfase em seus elementos */
ul li a {
  display: flex; /* Poderia ser usado também display: block & text-align: center, por ser elementos in-line */
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  font-weight: 500;

  text-decoration: none; /* Remove sublinhado dos links */
  border-radius: 8px;
  border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.5));
  background: var(--surface-color-dark-mode, rgba(255, 255, 255, 0.1));
  /* Adicionado "-webkit-..." para que o efeito de Blur seja visível em quaisquer navegadores. */
  -webkit-backdrop-filter: blur(4px);
}
