* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --background-url: url(./assets/bg-mobile.jpg);
  --background-color: rgba(255, 255, 255, 0.1);
  --background-color-hover: rgba(255, 255, 255, 0.05);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --stroke-color-hover: #fff;
  --switch-background: url(./assets/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: #000;
  --background-url: url(./assets/bg-mobile-light.jpg);
  --background-color: rgba(0, 0, 0, 0.05);
  --background-color-hover: rgba(0, 0, 0, 0.02);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --stroke-color-hover: #000;
  --switch-background: url(./assets/Sun.svg);
  --switch-track-background: rgba(0, 0, 0, 0.05);
  --switch-track-border: rgba(0, 0, 0, 0.5);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
  Todas as configurações acima podem sofrer shorthand (agrupamento) em
  uma única linha, haja vista que a estrutura de background é:

  background: <color> <image> <position/size>
  */
  background: var(--background-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 395px;
  margin: 56px auto 56px; /* 56px em cima e embaixo, automático nas laterais (para centralizar) */
  padding: 0px 24px; /* 0px em cima e embaixo, 24px nas laterais, respeitando a prototipação. */
}

/* Não podemos aplicar "margin: auto" em elementos in-line por padrão (como imagens). Então,
para centralizarmos a foto de perfil, precisamos ir até a div pai e alinharmos o elemento no centro.
Essa ação é necessária porque elementos in-line só aceitam que seu pai defina sua posição na tela;
A única coisa que faremos com a imagem é definir sua largura (112px;).
 */
.profile {
  text-align: center;
  padding: 24px;
}

.profile img {
  width: 112px;
}

.profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

.switch {
  /* Como vamos usar position: absolute, precisamos relativizar até onde é esse absoluto. */
  position: relative;
  width: 64px;
  margin: 4px auto;
}

/* Animação de transição do botão - Light Mode para Dark Mode */
@keyframes slide-out {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}

.switch button {
  width: 32px;
  height: 32px;
  background: #fff var(--switch-background) no-repeat center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  z-index: 1;
  /* Centralizando botão com position absolute */
  top: 50%;
  transform: translateY(-50%);

  animation: slide-out 0.4s;
}

/* Animação de transição do botão - Dark Mode para Light Mode */
@keyframes slide-in {
  /* O nome pode ser qualquer um. Escolhemos "slide-in". */
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

.light .switch button {
  /* É preciso manter as propriedades do "to" para que o botão não volte para o estado original. Para isso, usamos "forwards" */
  animation: slide-in 0.4s forwards;
}

/* Animação de "brilho" ao pôr mouse em cima do botão Dark/Light Mode */
.switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--background-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Estilizando Lista de Links com ênfase na div */
ul {
  list-style: none; /* Remove tópicos da lista */
  display: flex;
  flex-direction: column;
  gap: 16px; /* gap só funciona sob efeito de display: flex; */
  padding: 24px 0;
}

/* Estilizando Lista de Links com ênfase em seus elementos */
ul li a {
  display: flex; /* Poderia ser usado também display: block & text-align: center, por ser elementos in-line */
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  font-weight: 500;
  border-radius: 8px;

  text-decoration: none; /* Remove sublinhado dos links */
  border: 1px solid var(--stroke-color);
  background: var(--background-color);
  backdrop-filter: blur(4px);

  /* Aqui, adicionamos transição (animação) somente no background da Lista de Links. */
  /* É possível também usar "all", por exemplo; mas isso traria transição para toda a página, */
  /* não só na lista de links. E nós não queremos isso! */
  transition: background 0.3s;
}

/* Estilizando Lista de Links com ênfase na animação de seus elementos (pseudo-selector) */
ul li a:hover {
  border: 1.5px solid var(--stroke-color-hover);
  background: var(--background-color-hover);
}

/* ATENÇÃO: o transition e o "ul li a:hover" se complementam! */

/* O transition diz onde será a animação e quanto tempo ela dura.
Como ela está na div dos ELEMENTOS da Lista de Links, as animações serão neles! */

/* O ul li a:hover diz o que muda ao passarmos o mouse por cima dos elementos na Lista de Links */

.social-links {
  display: flex;
  gap: 10px;
  padding: 24px 0; /* Zeramos nas laterais porque já há 24px por padrão na div pai, que é #container */
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.3s;
  border-radius: 50%; /* 50% é uma esfera perfeita. */
}

.social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  padding: 24px 0;
}

footer a {
  transition: background 0.3s;
  padding: 5px 10px;
  border-radius: 10px;
}

footer a:hover {
  background: var(--highlight-color);
}

/* Media Queries */
@media (min-width: 700px) {
  /* Lê-se acima: "tudo o que está a partir de 700 pixels, atenda as regras abaixo:" */
  :root {
    --background-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --background-url: url(./assets/bg-desktop-light.jpg);
  }
}
